{% extends 'home.html' %}
{% load static %}
{% block content %} 
<!-- <script>
  alert(' {{message}}');
</script> -->

<br><br>
<style>
    .btn{
      color :black;
      background-color:rgb(226, 171, 43);
      text-align: center;
      border-radius :20px;
      font-weight:bold;
      padding-right:20px;
      padding-left:20px;
  
    }
    .mb-3{
      text-align:left;
      font-weight: bold;
      font-size:20px;
    }
    .h4{
      font-weight: bolder;
      font-size:30px;
    }
    .card{
        padding:10px;
    }
  </style>

<div class="container-fluid">
  <div class="row">

    <div class="col-lg-4 col-sm-12 card shadow m-4">
        <div class="card-body">
            <h4 class="h4">Admin Signup</h4>
            <!-- onsubmit="return checkpassword()" -->
            <!-- <form method="POST"  action="" enctype="multipart/form-data" class="shadow p-5" style="border:2px solid grey" novalidate>
              {% csrf_token %}
              
              {% for field in form %}
              <div class="form-group ">
                <label class="control-label col-xs-4">{{ field.label_tag }}</label>
                <div class="col-xs-8">
                {{ field }}
                 </div>
              </div>
              {% endfor %}
              <hr>
             <input id="form-button" class="btn btn-outline-success btn-block" type="submit" value="Signup">
             <br>
             {{form.non_field_errors}}
              </form> -->
              <form method="post"  name="login" class="shadow p-5" style="border:2px solid grey">
                {% csrf_token %}
                  <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter email" name="username">
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Email:</label>
                    <input type="email" class="form-control" placeholder="Enter Email" name="email">
                  </div>
                  <div class="mb-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                  </div>
                  <div class="mb-3">
                    <label for="pwd" class="form-label">Conferm Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd1">
                  </div>
                  <button type="submit" class="btn btn-primary">signup </button>
                  
                </form>
              
             <div class="text-center">Do not have account? <a href="{% url 'adminlogin' %}">login here</a></div>
        </div>

      </div>
      <div class="col-lg-5 col-sm-12 ">
        <!-- <img class="my-img" src="https://image.freepik.com/free-vector/online-registration-sign-up-with-man-sitting-near-smartphone_268404-95.jpg" alt=""> -->
        <img src="{% static "images/signupimg.svg" %}" alt="" height="500px">
      </div>
  </div>  
</div>


{% endblock %}